#portfolio {
<<<<<<< HEAD
  text-align: center;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__container h3 {
  color: var(--color-dark);
}

/* FIXED */
.portfolio__item {
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
      background: transparent;
}

/* FIXED */
.portfolio__item-image {
  border: 1px solid var(--color-gray);  
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item-image img {
  width: 100%;
  display: block;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

/* TABLET */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
=======
    text-align: center;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__container h3 {
    color:var(--color-dark);
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--tranistion);
}

.portfolio_item:hover {
border-color: var(--color-primary-variant);
background: transparent;
}

.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

@media screen and (max-width:1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }  
}

@media screen and (max-width:600px) {
.portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
}
}
>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7
