.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    background: #0F9AA6;
    padding: 1rem 0.3rem 0.3rem 1rem;
<<<<<<< HEAD
    border-radius: 20px;
=======
    border-radius: 50%;
>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7
    width: 35rem;
    aspect-ratio: 1/1;
    /* border-radius: 2rem; */
    /* background: linear-gradient( 45deg, var(--color-primary), transparent); */
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.about__me:hover {
    padding: 0;
    transition: 0.5s;
}


.about__me-image {
<<<<<<< HEAD
    border-radius: 20px;
=======
    border-radius: 50%;
>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7
    overflow: hidden;
    /* transform: rotate(10deg);
    transition: var(--transition); */
}


.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
<<<<<<< HEAD

=======
>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7
/* 
.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
} */

<<<<<<< HEAD
.about_icon {
    color: var(--color-white);
    font-size: 3rem;
=======
.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
<<<<<<< HEAD
    font-size: 1rem;
=======
    font-size: 0.7rem;
>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
<<<<<<< HEAD
    font-weight: 400;
    color: var(--color-dark);
}

.about__content h4 {
    color: var(--color-white);
}


.about_text {
    font-size: 16px;
}
=======
    /* color: var(--color-light); */
    color: var(--color-dark);
}

>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ===========*/
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
        text-align: center;
    }

    .about__me {
        width: 100%;
        margin: 2rem auto 4rem;
        background: #0F9AA6;
        padding: 1rem 0.3rem 0.3rem 1rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }

    .about__me-image {
        border-radius: 50%;
        overflow: hidden;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ===========*/
@media screen and (max-width: 600px) {

    .about__container {
        text-align: center;
    }

    .about__me {
        width: 100%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        /* grid-template-columns: 1fr 1fr;
        gap: 1rem; */
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about__card {
        /* grid-template-columns: 1fr 1fr;
        gap: 1rem; */
        max-width: 280px;
      width: 100%;
    }

    

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}
