header {
    height: 85vh;
    padding-top: 7rem;
    overflow: hidden;
    background: var(--color-bg);
  }

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: url('../../assets/images/first_background.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header__container h1, h4 {
color: var(--color-primary);
}

.text-light {
    margin-bottom: 20px;
}

/* =========== CTA ===========*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =========== Header Socials ===========*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8;
    position: absolute;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* =========== ME ===========*/


.me {
    box-sizing: border-box;
    width: 30rem;
    height: 24rem;
    background-color: #357E7B;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border-radius: 50% 0;
  }
  .me::before {
    content:'';
    width: 500px;
    height: 300px;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 40%,
      rgba(255, 255, 255, 0.3) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    transform-origin: center center;
    position: absolute;
    z-index: 10;
    animation-delay: 1s;
    animation-name: mask-ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .me::after {
    content: '';
    width: 500px;
    height: 50px;
    opacity: 0;
    background-color: #fff;
    transform-origin: center center;
    position: absolute;
    z-index: 1;
    animation-delay: 1s;
    animation-name: mask-border-ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  .me img {
    width: 97%;
    height: 97%;
    vertical-align: top;
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50% 0;
  }
  @keyframes mask-ani {
    0% {
      transform: rotate(-36deg) translate(-40px, -430px);
    }
  
    70%,
    100% {
      transform: rotate(-36deg) translate(-40px, 378px);
    }
  }
  @keyframes mask-border-ani {
    0% {
      opacity: 0.8;
      transform: rotate(-36deg) translate(-126px, -190px);
    }
  
    70%,
    100% {
      opacity: 0.8;
      transform: rotate(-36deg) translate(-126px, 355px);
    }
  }

/* =========== SCROLL DOWN ===========*/
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ===========*/
@media screen and (max-width: 1024px) {
    header {
        height: 110vh;
    }

    .me {
        background: linear-gradient(var(--color-primary), transparent);
        width: 40rem;
        background-position: center;
        height: 30rem;
        border-radius: 50% 0;
        overflow: hidden;
        margin-top: 20px;
        aspect-ratio: 1/1;
        margin: 1rem auto 1rem;
        border: 0.4rem solid var(--color-primary-variant);
    }
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ===========*/
@media screen and (max-width: 600px) {
    header {
      height: 90vh;
      padding-top: 2rem;
      background: var(--color-bg);
    }

    .header__socials,
    .scroll_down {
        display: none;
    }

    .header__container {
        text-align: center;
        height: 100%;
        position: relative;
        background: none;
        display: block;
        /* display: block; */
        /* justify-content: space-between; */
        background: url('../../assets/images/first_background_responsive.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom; 
    }

    .me {
      background: linear-gradient(var(--color-primary), transparent);
      max-width: 20rem;
      width: 100%;
      background-position: center;
      max-height: 15rem;
      height: 100%;
      border-radius: 50% 0;
      overflow: hidden;
      margin-top: 20px;
      aspect-ratio: 1/1;
      margin: 1rem auto 1rem;
      border: 0.4rem solid var(--color-primary-variant);
    }
}


@media screen and (max-width: 380px) {
  header {
    height: 120vh;
    padding-top: 2rem;
    background: var(--color-bg);
  }
}
