footer {
    background: linear-gradient(360deg, rgb(143, 196, 206), white);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    color: var(--color-dark);
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--color-primary);
    display: inline-block;
}

.flex__footer {
    display: flex;
    justify-content: space-around;
}


.permalinks {
    text-align: left;
    gap: 2rem;
    margin: 0 auto 3rem;
    font-size: 1rem;
}

.permalinks a{
    color: var(--color-dark);
}

.permalinks a:hover{
    color: var(--color-primary);
}


.contact__footer {
    text-align: left;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.contact__footer a:hover {
        color: var(--color-primary);

}

=======
>>>>>>> fb6fb92f23cada87d08180ef1c5e7babdf7b01e7
.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: var(--color-bg-variant);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: var(--color-bg-variant);
    color: var(--color-white);
    border-color: var(--color-bg);
    transition: 1s;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-dark);
}


@media screen and (max-width:600px) {
    .flex__footer {
        display: block;
    }

    .permalinks {
        text-align: center;
        flex-direction: column;
        gap: 1.5rem;
        margin: 0 auto 2rem;
    }

    .contact__footer {
        text-align: center;
        font-size: 1rem;
        display: flex;
        flex-direction: column;   
        margin: 0 auto 2rem;
    }

    .footer__socials {
     margin-bottom: 2.6rem;
    }
}